:root {
	--color-primary: rgba(131, 83, 226, 1);
	--color-primary-light: rgba(131, 83, 226, .9);
	--color-neutral: rgba(243, 244, 246, 1);
	--color-body: #1d2327;
	--color-link: #678af9;
	--color-notice: rgba(0, 0, 0, 0.87);
	--color-success: rgba(167, 250, 172, 1);
	--color-error: rgba(250, 167, 167, 1);
	--border-radius: 12px;
}

#wpcontent {
	background-color: white;
}

#wpbody {
	max-width: 1200px;
	height: calc(100dvh - var(--wp-admin--admin-bar--height));
	margin-inline: auto;
}

p {
	margin: 0 0 1em;
	padding: 0;
}

a {
	color: var(--color-link);
}

a:hover,
a:focus-visible {
	color: var(--color-primary);
}

::placeholder {
	opacity: .6;
}

/* p:where(:not(:last-child)) {
	margin: 0 0 1em;
	padding: 0;
} */

/* p:where(:last-child) {
	margin: 0;
	padding: 0;
} */

.dappier-header {
	display: flex;
	flex-wrap: wrap;
	gap: 32px 16px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
	padding-block: 24px 34px; /* bottom margin is 24px + 10px from `.wrap` top margin from WP */
	border-bottom: 2px solid var(--color-neutral);
}

.dappier-logo {
	max-width: 240px;
	margin: 0;
}

.dappier-logo__img {
	display: block;
	width: 100%;
}

.dappier-header__content {

	h2 {
		margin: 0 0 8px;
	}
}

/* .dappier-notice {
	margin-block: 12px;
}

.dappier-notice--success {
	--dappier-notice-background: var(--color-success);
	--dappier-notice-color: var(--color-notice);
}

.dappier-notice--error {
	--dappier-notice-background: var(--color-error);
	--dappier-notice-color: var(--color-notice);
}

.dappier-notice__inner {
	display: inline-flex;
	gap: 6px;
	padding: 6px 12px 6px 6px;
	background-color: var(--dappier-notice-background, var(--color-neutral));
	color: var(--dappier-notice-color, var(--color-body) );
	border-radius: 5px;
}

.dappier-notice__icon {
	color: rgba(0, 0, 0, 0.4);
} */

.dappier-inner {
	display: grid;
	gap: 2em;
	align-items: start;
}

@media only screen and (min-width: 800px) {

	.dappier-inner {
		grid-template-columns: 1fr 350px;
	}
}

.dappier-inner__inactive {

	.dappier-step__three,
	.dappier-step__four,
	.dappier-step__five {
		display: none;
	}
}

.dappier-inner__active {

	.dappier-step__one,
	.dappier-step__two {
		display: none;
	}
}

.dappier-form {
	display: grid;
	gap: 24px;
}

.dappier-form:has()

.dappier-preheading {
	margin-bottom: 8px;
	color: var(--color-primary);
	font-size: 1.1em;
	font-weight: bold;
}

.dappier-step__inner {
	margin: 0;
	border: 2px solid var(--color-neutral);
	border-radius: var(--border-radius);
	overflow: hidden; /* for border radius */
}

.dappier-heading {
	display: flex;
	gap: 16px;
	margin: 0;
	padding: 8px 12px;
	font-size: 1.2em;
	background-color: var(--color-neutral);
}

.dappier-step__content {
	padding: 16px;

	.form-table,
	.form-table :where(tbody, thead, tfoot, tr, th, td) {
		display: block;
		width: 100%;
	}

	.form-table th,
	.form-table td {
		padding: 0;
	}

	.form-table th {
		margin: 0 0 8px;
	}

	.form-table td {
		margin: 0 0 16px;
	}

	ul a {
		text-decoration: none;
	}

	ul a:hover,
	ul a:focus-visible {
		text-decoration: underline;
	}
}

.dappier-step__field {
	display: grid;
	gap: .2em;
	max-width: 30em;
	margin-block: 4px 16px;

	input,
	textarea {
		display: block;
		width: 100%;
		margin-top: 4px;
	}
}

.dappier-step__label {
	display: block;
}

.dappier-step__desc {
	margin: 0;
	font-size: 95%;
	opacity: .8;
}

.dappier-step_sidebar {
	border-radius: var(--border-radius);
}

.dappier-step__inner + .dappier-step__inner {
	margin-top: 24px;
}

.dappier-step__details {
	display: table;

	li {
		display: table-row;

		span {
			display: table-cell;
			padding: 4px;
		}
	}
}

p.submit {
	margin: 0 0 1em;
	padding: 0;
}

.wp-core-ui {

	.button {
		margin: 0;
		padding: 6px 16px;
		background-color: var(--color-primary);
		color: rgb(255, 255, 255);
		border: none;
		border-radius: 5px;
		transition: all .2s ease-in-out;
	}

	.button:active,
	.button:hover,
	.button:focus-visible {
		background-color: var(--color-primary-light);
	}
}